<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link rel="stylesheet" href="/static/css/team.css">
    <title>Our Team | ICS</title>
</head>

<body>
    <!-- header design -->
    <header class="header">
        <div class="bx bx-menu" id="menu-icon"><span class="animate" style="--i:2;"></span></div>
        <img src="/static/images/ICS.png" alt="Logo" style="width: 100px;">

        <nav class="navbar" style="padding-top: 20px; padding-left: 520px;">
            <a href="/" >Home</a>
            <a href="/sign_in">Login</a>
            <a href="#" id="openModalBtn">Upload Image</a>
            <a href="/contact">Contact Us</a>
            <a href="/team" class="active">Our Team</a>

            <span class="active-nav"></span>
            <span class="animate" style="--i:2;"></span>
        </nav>
    </header>


    <section>
        <h1 class="title">our team</h1>
        <div class="team-row">
            <div class="member">
                <img src="/static/images/faizan.jpg" alt="">
                <h2>Faizan Mahimkar</h2>
                <p>Data Scientist | UI/UX Designer</p>
            </div>
            <div class="member">
                <img src="/static/images/himanshu.jpg" alt="">
                <h2>Himanshu Maurya</h2>
                <p>Data Scientist | Cloud Engineer</p>
            </div>
            <div class="member">
                <img src="/static/images/jeet.jpeg" alt="">
                <h2>Jeet Manjrekar</h2>
                <p>AI Engineer | Full Stack Developer</p>
            </div>
            <div class="member">
                <img src="/static/images/preeti.jpeg" alt="">
                <h2>Preeti Yadav</h2>
                <p>ML Engineer</p>
            </div>
        </div>

        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p>Please sign-in first to use this service</p>
            </div>
        </div>
    </section>
    <script>

        document.getElementsByTagName("h1")[0].style.fontSize = "6vw";
        // toggle icon navbar
        let menuIcon = document.querySelector('#menu-icon');
        let navbar = document.querySelector('.navbar');

        menuIcon.onclick = () => {
            menuIcon.classList.toggle('bx-x');
            navbar.classList.toggle('active');
        }

        // scroll sections
        let sections = document.querySelectorAll('section');
        let navLinks = document.querySelectorAll('header nav a');

        window.onscroll = () => {
            sections.forEach(sec => {
                let top = window.scrollY;
                let offset = sec.offsetTop - 100;
                let height = sec.offsetHeight;
                let id = sec.getAttribute('id');

                if (top >= offset && top < offset + height) {
                    // active navbar links
                    navLinks.forEach(links => {
                        links.classList.remove('active');
                        document.querySelector('header nav a[href*=' + id + ']').classList.add('active');
                    });
                    // active sections for animation on scroll
                    sec.classList.add('show-animate');
                }
                // if want to animation that repeats on scroll use this
                else {
                    sec.classList.remove('show-animate');
                }
            });

            // sticky navbar
            let header = document.querySelector('header');

            header.classList.toggle('sticky', window.scrollY > 100);

            // remove toggle icon and navbar when click navbar links (scroll)
            menuIcon.classList.remove('bx-x');
            navbar.classList.remove('active');

            // animation footer on scroll
            let footer = document.querySelector('footer');

            footer.classList.toggle('show-animate', this.innerHeight + this.scrollY >= document.scrollingElement.scrollHeight);
        }
        // Get the modal and button elements
        var modal = document.getElementById("myModal");
        var openModalBtn = document.getElementById("openModalBtn");
        var closeModalBtn = document.getElementsByClassName("close")[0];

        // Open the modal when the button is clicked
        openModalBtn.onclick = function () {
            modal.style.display = "block";
        }

        // Close the modal when the close button is clicked
        closeModalBtn.onclick = function () {
            modal.style.display = "none";
        }

        // Close the modal when clicking outside of it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }


        var modal = document.getElementById("myModal");
        var openModalBtn2 = document.getElementById("openModalBtn2");
        var closeModalBtn2 = document.getElementsByClassName("close")[0];

        openModalBtn2.onclick = function () {
            modal.style.display = "block";
        }

        closeModalBtn2.onclick = function () {
            modal.style.display = "none";
        }

        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

    </script>
</body>

</html>